.card{
    color: white;
    font-family: sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
    
}

.title {
    margin-left: 10px;
}

.title p {
    text-align: left;
}

.card div {
    display: block;
}

