.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
}

.img {
    height: 40px;
    width: 40px;
}

.name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
    color: white;
    margin-left: 10px;
}

.author {
    font-family: sans-serif;
    font-size: small;
    color: white;
    margin-left: 10px;
}



