.contenedor ul{
    color: white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: sans-serif;
    white-space: nowrap;
    justify-content: center;
}

.podcast img{
    width: 150px;
    height: 150px;
}

.title {
    overflow: hidden;  
    text-overflow: ellipsis;
    font-size:large;
    font-weight: bold;
}

.podcast p {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
}

.podcast button {
    background-color: black;
    border: none;
    align-items: baseline;
}


